@model IEnumerable<CIS.Models.User>

@{
    ViewData["Title"] = "ViewUser";
    Layout = "~/Views/Shared/_Admin.cshtml";
    var user = TempData["LoggedInUser"];
}

<h1>ViewUser</h1>
<div class="welcome-message">
    Welcome : @user
    <p>@Html.ActionLink("Logout", "Logout", "Admin")</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
               @* @Html.ActionLink("Edit", "EditUser", new {  id=item.Id }) |*@
                @Html.ActionLink("Approve", "ApproveUser", new { id=item.Id   })
                @Html.ActionLink("Reject", "RejectUser", new { id=item.Id   })
            </td>
        </tr>
}
    </tbody>
</table>
