@model CIS.Models.Relations.ViewModelBeneficiarySchemeApplied
@{
    ViewData["Title"] = "AssociateSchemesBeneficiary";
    Layout = "~/Views/Shared/_User.cshtml";
    var user = TempData["LoggedInUser"];
}
<h3>Associate Schemes Beneficiary</h3>
<div class="welcome-message">
    Welcome : @user
    <p>@Html.ActionLink("Logout", "Logout", "Admin")</p>
</div>
<div>
    <form asp-action="AssociateSchemesBeneficiary" method="post">
        <div class="col-sm-5">
            <div>
                <h5>Select Beneficiary</h5>
                <div class="form-group">
                    <select asp-for="Beneficiary" id="select-ben"
                            asp-items="@(new SelectList(Model.Beneficiary, nameof(CIS.Models.Beneficiary.Id), nameof(CIS.Models.Beneficiary.FirstName)))">
                        <option>Please select one</option>
                    </select>
                </div>
            </div>
            <div id="not-applied-schemes">
            </div>

        </div>
        <div class="col-sm-5" style="position: absolute;top: 206px;left: 870px;">            
            <h3>View Beneficiaries and Schemes Applied</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Beneficiary
                        </th>
                        <th>
                            Applied Scheme
                        </th>
                </thead>
                <tbody>
                    @if (Model.Association.Associated != null)
                    {
                        foreach (var assoc in Model.Association.Associated)
                        {
                            <tr>
                                <td>
                                    @assoc.Key
                                </td>
                                <td>
                                    @{
                                        int i = 0;
                                        foreach (var val in assoc.Value)
                                        {
                                            i++;
                                            <div><b>@i. @val</b></div>
                                        }
                                    }
                                   
                                </td>
                            </tr>


                        }
                    }
                </tbody>
            </table>

        </div>
        <button type="submit" class="btn btn-primary">Associate</button>
    </form>

</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/applyscheme.js" type="text/javascript"></script>