@model IEnumerable<CIS.Models.Scheme>

@{
    ViewData["Title"] = "ViewSchemes";
    Layout = "~/Views/Shared/_User.cshtml";
    var user = TempData["LoggedInUser"];
}

<h1>View Schemes</h1>
<div class="welcome-message">
    Welcome : @user
    <p>@Html.ActionLink("Logout", "Logout", "Admin")</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchemeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchemeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>

            <td>
                @if (item.IsActive)
                {
                            <span>Approved</span>
                }
                else
                {
                            <span>Pending/Rejected</span>
                }


            </td>
            <td>
                @Html.ActionLink("Edit", "EditScheme", "User", new { id=item.Id }) |
                    @Html.ActionLink("Details", "DetailsScheme", "User", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
